/*雅虎css reset*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre, 
form,fieldset,input,textarea,p,blockquote,th,td { 
    padding: 0; 
    margin: 0; 
} 
table { 
    border-collapse: collapse; 
    border-spacing: 0; 
} 
fieldset,img { 
    border: 0; 
} 
address,caption,cite,code,dfn,em,strong,th,var { 
    font-weight: normal; 
    font-style: normal; 
} 
ol,ul { 
    list-style: none; 
} 
caption,th { 
    text-align: left; 
} 
h1,h2,h3,h4,h5,h6 { 
    font-weight: normal; 
    font-size: 100%; 
} 
q:before,q:after { 
    content:""; 
} 
abbr,acronym { 
    border: 0; 
}
/*整体样式*/

@font-face
{
    font-family: fangzheng;
    src: url(../font/fangzheng.ttf);
}
@font-face {
	font-family:fangzheng;
	src: url('../font/fangzheng.ttf');
}
html{
	width: 100%;
	height: 100%;
	min-width: 1280px;
	background-color: #f2f4f6;
}
body{
	width: 100%;
	height: 100%;
}
#header{
	width: 100%;
	height: 8%;
	background: url(../img/banner.png) no-repeat;
	background-size: cover;
}
#maintop{
	height: 11rem;
    width: 105.4rem;
    margin-left: 3.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
#main{
	height: 71.4%;
	background-size: cover;
}
#mainLeft{
	width: 27rem;
	height: 100%;
	float: left;
	margin-left: 3rem;
}
#mainMiddle{
	width: 49.7rem;
    margin-left: 0.6rem;
    height: 100%;
    float: left;
}
#mainRight{
	width:28rem;
	height: 100%;
	margin-left: 0.6rem;
	float: left;
}
.style1{

}
/*头部样式*/
.logo{
	display: block;
	float: left;
	width: 3rem;
    height: 3rem;
    margin-top: 0.7%;
    margin-left: 1rem;
    background: url(../img/logo.png) no-repeat;
 	background-size: 3rem 3rem;
}
.user{
	display: block;
	float: right;
	width: 2.5rem;
    height: 2.5rem;
    margin-top: 0.7%;
    margin-right: 3rem;
    background: url(../img/用户.png) no-repeat;
 	background-size: 2.5rem 2.5rem;
}
#header span{
	margin-top: 0.8%;
	margin-left: 1rem;
	display: block;
	float: left;
	width: 28rem;
    height: 3rem;
	font-family: fangzheng;
	font-size: 2.2rem;
	line-height: 3rem;
	color: #FFFFFF;
}
/*主体中上样式*/
.maintopbox{
	float: left;
	height: 100%;
	box-shadow: 0 0.1rem 0.3rem #666666;
	opacity: 0.9;
	border-radius: 0.2rem;
	background-color: #EEF6F6;
	position: ;
}
#maintopleftbar{
	width: 90%;
	height: 2rem;
    position: relative;
    top: -0.7rem;
    left: -1rem;
}
#maintopleft{
	width: 64%;
}
#maintopmid{
	width: 22.6%;
	margin-left: 0.7rem;
}
#maintopright{
	width: 12%;
	margin-left: 0.7rem;
}
.maintopleft1{
	float: left;
	width: 35%;
	height: 100%;
}
.maintopleft2{
	float: left;
	width: 40%;
	height: 100%;
}
.maintopleft3{
	float: left;
	width: 25%;
	height: 100%;
}
.maintopleft11top{
	height: 42%;
	width: 100%;
	position: relative;
}
.maintopleft11bot{
	height: 58%;
	width: 100%;
}
.maintopleftimg{
	margin-top: 0.7rem;
	margin-left: 1rem;
	width: 2.7rem;
	height: 2.7rem;
	float: left;
	background: url(../img/改建项目.png) no-repeat;
	background-size: 2.7rem 2.7rem;
}
.maintopleft11topmain{
	height: 3.5rem;
	margin-left: 1rem;
	float: left;
}
.maintopfont1{
	margin-bottom: 0.3rem;
	color: #333333;
	height: 1.5rem;
	line-height: 1.5rem;
	font-size: 1rem;
}
.maintopleft11botmain{
	height: 70%;
	width: 100%;
	
}
.topmessagetop{
	width: 100%;
	color: #999999;
	margin-bottom: 0.3rem;
}
.topmessagebot{
	width: 100%;
	color: #333333;
	font-size: 1.3rem;
}
.topmessagebot span{
	font-size: 1rem;
}
.topmessage{
	float: left;
}
.topmessage1{
	margin-left: 1rem;
	width: 32%;
}
.topmessage2{
	width: 10%;
}
.topmessage3{
	width: 35%;
}
.topmessageline{
	float: left;
	margin-top: 0.4rem;
	margin-right: 1rem;
	height: 50%;
	border: 1px solid #999999;
}
.maintopleftbar{
	height: 30%;
	width: 100%;
}

.maintopfont2{
	height: 1.7rem;
	line-height: 1.7rem;
	color: #847ced;
}
.maintopfont2 span{
	font-size: 1.4rem;
}
.maintopleft12top{
	height: 45%;
	width: 100%;
}
.maintopleft12bot{
	height: 40%;
	width: 100%;
	margin-top: 3%;
}
.maintopleft12top  .maintopleftimg{
	background: url(../img/排污收费.png) no-repeat;
	background-size: 2.7rem 2.7rem;
}
.maintopleft12top  .maintopfont2{
	height: 2rem;
	line-height: 2rem;
	color: #fb4c4c;
}
.maintopleft12topmain{
	height: 4rem;
	margin-left: 1rem;
	float: left;
}
.maintopleft12topmain .maintopfont1 span{
	color: #999999;
	margin-left: 0.8rem;
}

.maintopleft3top{
	width: 100%;
	height: 50%;
}
.maintopleft3bot{
	width: 100%;
	height: 50%;
}
.maintopleft3top .maintopleftimg{
	background: url(../img/污染源.png) no-repeat;
	background-size: 2.7rem 2.7rem;
}
.maintopleft3top  .maintopfont2{
	height: 1.5rem;
	line-height: 1.5rem;
	color: #ff994f;
}
.maintopleft3bot .maintopleftimg{
	background: url(../img/环境影响评价.png) no-repeat;
	background-size: 2.7rem 2.7rem;
}
.maintopleft3bot  .maintopfont2{
	height: 1.5rem;
	line-height:1.5rem;
	color: #51bdf2;
}
#maintopmid .maintopleftimg{
	background: url(../img/现场执法.png) no-repeat;
	background-size: 2.7rem 2.7rem;
}
#maintopmid .maintopfont2{
	color: #64d142;
}
.topmessage4{
	padding-left: 1rem;
}
.topmessage4 span{
	color: #999999;
}
.topmessage5{
	margin-top: 0.7rem;
	margin-left: 1rem;
}
.topmessage5 .topmessagebot{
	font-size: 1.4rem;
}
.punish1{
	width: 100%;
	text-align: center;
}
.punish2{
	margin-left: 2rem;
}
#punishchart{
	height: 70%;
	width: 100%;
}
.punish2 span{
	color: #999999;
	margin-left: 1rem;
	margin-right: 1rem;
}
/*主体中部样式*/

.maintitle{
	width: 100%;
	height: 2.5rem;
}
.maintitle1{
	float: left;
	width: 1.6rem;
	height:1.6rem;
	margin-left: 0.5rem;
	margin-top: 0.7rem;
	background: url(../img/title1.png) no-repeat;
	background-size: cover;
}
.maintitleM{
	float: left;
	margin-left: 0.7rem;
	margin-top: 0.7rem;
	height:1.5rem;
	font-size: 1.2rem;
	font-weight: bold;
}


.maintitle2{
	background: url(../img/title3.png) no-repeat;
	background-size: cover;
}
.maintitle3{
	background: url(../img/title2.png) no-repeat;
	background-size: cover;
}
.maintitle4{
	margin-left: 3rem;
	background: url(../img/title4.png) no-repeat;
	background-size: cover;
}
/*坏境执法*/
#huaijing{
	width: 27rem;
    height:  28.7rem;
    background: url(../img/bg_l_1.png) no-repeat;
	background-size: 27rem 28.7rem;
}
#huaijingtable{
	width: 100%;
	height: 4rem;
}
.hjtbox{
	text-align: center;
	float: left;
	width: 22%;
	height: 1.5rem;
	line-height: 1.5rem;
	border: 1px solid #F6F6F6;
	background-color: royalblue;
}
.hjtboxb{
	color: #F6F6F6;
	text-align: center;
	float: left;
	width: 22%;
	height: 2.2rem;
	line-height: 2.2rem;
	font-size: 1.3rem;
	font-weight: bold;
	border: 1px solid #F6F6F6;
	background-color: royalblue;
}
.hjtboxb span{
	font-size: 1rem;
	font-weight: normal;
}
.hjtbox1{
	margin-left: 1rem;
	color:#42a2df;
	background-color: #99daed;
}
.hjtbox2{
	color:#3cbee4;
	background-color: #9cccea;
}
.hjtbox3{
	color:#e75955;
	background-color: #eea7a5;
}
.hjtbox4{
	color:#6cd5c4;
	background-color: #b1e5dd;
}
.hjtbox5{
	margin-left: 1rem;
	background-color: #42a2df;
}
.hjtbox6{
	background-color: #3cbee4;
}
.hjtbox7{
	background-color: #e75955;
}
.hjtbox8{
	background-color: #6cd5c4;
}
#huanjingchart{
	width: 27rem;
    height: 15rem;
}
#chart1{
	width: 24.7rem;
	height: 10rem;
	display: inline-block;
}
#chart1Nub{
	width: 24.7rem;
	height: 4rem;
	display: inline-block;
}
.chart1Nub1,.chart1Nub2,.chart1Nub3,.chart1Nub4,.chart1Nub5,.chart1Nub6{
	float: left;
	width: 12.3rem;
	margin-top: 0.3rem;
}
.chart1Nub1c{
	color: #47df92;
}
.chart1Nub2c{
	color: #44d8dd;
}
.chart1Nub3c{
	color: #5382e1;
}
.chart1Nub4c{
	color: #ec6f38;
}
.chart1Nub5c{
	color: #f0dd5d;
}
.chart1Nub6c{
	color: #a9e24e;
}
.chart1NubW{
	display: inline-block;
	width: 8rem;
	text-align: right;
}
/*污染源*/
#wuran{
	width: 27rem;
    height: 16rem;
    background: url(../img/bg_l_2.png) no-repeat;
	background-size: 27rem 16rem;
}
#wuranchart{
	width: 100%;
	height: 14rem;
}
/*水源*/
#shuiyuan{
	width: 28.5rem;
    height: 25rem;
    background: url(../img/bg_r_1.png) no-repeat;
	background-size: 28.5rem 25rem;
}
#shuiyuanbt{
	height: 2.5rem;
}
.shuiyuanbt1{
	font-size: 1.2rem;
	line-height: 2.5rem;
	text-align: center;
	color: #2fbdff;
	float: right;
	height: 2.5rem;
	width: 8rem;
	border-radius: 0.7rem;
	border: 1px solid #2fbdff;
	background-color: #f6f6f6;
	position: relative;
	right: 1rem;
}
.shuiyuanbt2{
	font-size: 1.2rem;
	line-height: 2.5rem;
	text-align: center;
	color: #f6f6f6;
	float: right;
	height: 2.5rem;
	width: 8rem;
	border-radius: 0.7rem;
	border: 1px solid #f6f6f6;
	background-color: #2fbdff;
	position: relative;
}
#shuiyuanchart{
	width: 28.5rem;
    height: 20rem;
}
/*投诉*/
#tousu{
	width: 28.5rem;
    height: 20rem;
    background: url(../img/bg_r_2.png) no-repeat;
	background-size: 28.5rem 20rem;
}
#tousu .maintitle1{
	margin-top: 1.3rem;
}
#tousu .maintitleM{
	margin-top: 1.3rem;
}
#tousuchart{
	width: 31rem;
    height: 16.5rem;
}

#tousu .maintitleM span{
	font-size: 1rem;
	margin-left: 1rem;
}
/*中部样式*/
.maintitlemid{
	width: 100%;
	height: 3rem;
}
.maintitlemidM{
	margin-left: 0.5rem;
	font-size: 1.2rem;
	height: 2rem;
	line-height: 2rem;
	font-weight: bold;
}
.maintitlemidM span{
	color: #666666;
	float: right;
	font-size: 1.1rem;
	margin-right: 1.5rem;
}
.titleline{
	width: 100%;
	height: 0.5rem;
	background: url(../img/title.png) no-repeat;
	background-size: cover;
}
#map{
	width: 100%;
	height: 28rem;
}
#xingzhengselect{
	float: right;
	width: 30%;
	height: 3rem;
}
#chufachart{
	float: right;
	width: 70%;
	height: 10rem;
}
/*选择框样式*/


.filter-box1 {
    position: relative;
}
.filter-box1 .filter-list{
	top: 1.6rem;
}
.filter-box2 {
    position: relative;
}
.filter-box2 .filter-list{
	top: -16rem;
}
.filter-box3 {
    position: relative;
}
.filter-box3 .filter-list{
	top: -16rem;
}
.filter-list li.filter-selected{
	background-color: #2FBDFF!important;
}
.item {
	width: 10rem;
	height: 2rem;
	margin: 1rem;
}
.item2 {
	width: 4.5rem;
	height: 2rem;
	float: left;
	margin-left: 1rem;
	margin-right: 1rem;
}
.item3 {
	width: 4.5rem;
	height: 2rem;
	float: left;
}
#jcsj{
	margin-left: 1rem;
}
#tjbutton{
	width: 6rem;
	margin-left: 2rem;
	height: 1.5rem;
	border-radius: 0.2rem;
	text-align: center;
	line-height: 1.5rem;
	margin-top: 4rem;
	background-color: #2fbdff;
	color: #F6F6F6;
}
