/*雅虎css reset*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre, 
form,fieldset,input,textarea,p,blockquote,th,td { 
    padding: 0; 
    margin: 0; 
} 
table { 
    border-collapse: collapse; 
    border-spacing: 0; 
} 
fieldset,img { 
    border: 0; 
} 
address,caption,cite,code,dfn,em,strong,th,var { 
    font-weight: normal; 
    font-style: normal; 
} 
ol,ul { 
    list-style: none; 
} 
caption,th { 
    text-align: left; 
} 
h1,h2,h3,h4,h5,h6 { 
    font-weight: normal; 
    font-size: 100%; 
} 
q:before,q:after { 
    content:""; 
} 
abbr,acronym { 
    border: 0; 
}


@font-face {
	font-family:fangzheng;
	src: url('../font/fangzheng.ttf');
}
html{
	width: 100%;
	height: 100%;
	min-width: 1280px;
}
body{
	width: 100%;
	height: 100%;
}
#header{
	width: 100%;
	height: 10%;
	background: url(../img/banner.png) no-repeat;
	background-size: cover;
}

#main{
	height: 90%;
	background: url(../img/bk.png) no-repeat;
	background-size: cover;
}
#mainLeft{
	width: 74%;
	height: 100%;
	margin-left: 3.5rem;
	float: left;
	
	
}
#mainLeftTop{
	width:  100%;
	height: 20%;
	float: left;

}
#mainLeftLeft{
	width:  25%;
	height: 80%;
	float: left;
	
}
#mainMiddle{
	width: 75%;
	height: 80%;
	float: left;

}
#mainRight{
	width: 19%;
	height: 100%;
	margin-right: 3.5rem;
	float: right;

	
}

.style1{

}
/*头部样式*/
.logo{
	display: block;
	float: left;
	width: 3rem;
    height: 3rem;
    margin-top: 0.7%;
    margin-left: 1rem;
    background: url(../img/logo.png) no-repeat;
 	background-size: 3rem 3rem;
}
#header span{
	margin-top: 1%;
	margin-left: 1rem;
	display: block;
	float: left;
	width: 28rem;
    height: 3rem;
	font-family: fangzheng;
	font-size: 2.2rem;
	line-height: 3rem;
	color: #FFFFFF;
}
.back,.user{
	height:97%;
	width: 5%;
	float: right;
	color: #FFFFFF;
}
.userfont,.backfont{
	width: 100%;
	text-align: center;
	margin-top: 2%;
}
.back{
	background-color: #199297;
	border-right:1px solid #1dacb1 ;
}
.backimg{
	width: 45%;
	height: 50%;
	margin-left: 28%;
	margin-top: 12%;
	background: url(../img/主页.png) no-repeat;
	background-size: cover;
}
.userimg{
	width: 45%;
	height: 50%;
	margin-left: 28%;
	margin-top: 12%;
	background: url(../img/用户.png) no-repeat;
	background-size: cover;
}
.user{
	background-color: #178A8E;
}
/*主体左上样式*/
#taps{
	position: relative;
	top: 36%;
    left: 6%;
}
.parallelogram {   
	width: 6.3rem;
    height: 2.7rem;
	float: left; 
	cursor: pointer;
	border-radius: 0.1rem;
	transform:skew(-20deg);   
	-webkit-transform: skew(-20deg);   
	-moz-transform: skew(-20deg);   
	-o-transform:skew(-20deg);   
	-ms-transform:skew(-20deg);   
	background-color: #D8EAEE;   
}
.parallelogramclose1{
	position: relative;
	left: -0.2rem;
}
.parallelogramclose2{
	position: relative;
	left: -0.3rem;
}
.parallelogramclose3{
	position: relative;
	left: -0.4rem;
}
.parallelogramclose4{
	position: relative;
	left: -0.5rem;
}
.parallelogram div{   
	width: 6.3rem;
    height: 2.7rem;
    line-height: 2.7rem;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    color: #1DACB1;
	transform:skew(20deg);   
	-webkit-transform: skew(20deg);   
	-moz-transform: skew(20deg);   
	-o-transform:skew(20deg);   
	-ms-transform:skew(20deg);   
}
.parallelogramClick{
	background-color: #1DACB1;

}
.parallelogramClick div{
	color: #FFFFFF!important;
}
#mainLeftTopNub{
	position: relative;
    top: 39%;
    width: 33%;
    margin-left: 53%;
}
#mainLeftTopNub span{
	font-size: 4rem;
    color: #FA5652;
    font-weight: bold;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

/*主体左侧样式*/
.leftbox{
	width: 90%;
	margin: 0px auto;
	box-shadow: 0 0.1rem 0.3rem #000000;
	margin-top: 3%;
	opacity: 0.9;
	border-radius: 0.2rem;
}
.pollution{
	height: 18%;
	background-color: #f6f6f6;
}
.titlefont{
	font-size: 1.5rem;
	color: #444444;
	font-weight: bold;
	height: 50%;
	line-height: 200%;
	padding-left: 5%;
}
.mainfont{
	color: #444444;
	font-size: 2.2rem;
	font-weight: bold;
	height: 50%;
	line-height: 150%;
	padding-left: 5%;
}
.pollution .mainfont{
	color: #FAA152;
}
.pollution1{
	margin-left: 1rem;
}
.pollution2{
	font-size: 1.3rem;
	font-weight: normal;
}
.water{

	height: 28%;
	background-color: #f6f6f6;
}
.titlefontL{
	color: #333333;
	font-size: 1.5rem;
	font-weight: bold;
	height: 31%;
	line-height: 220%;
	padding-left: 5%;
	width: 45%;
	float: left;
}
.titlefontR{
	color: #333333;
	font-size: 1.5rem;
	font-weight: bold;
	height: 31%;
	line-height: 220%;
	padding-left: 5%;
	width: 45%;
	float: left;
}
.mainfontL{
	color: #333333;
	font-size: 1.2rem;
	height: 23%;
	line-height: 180%;
	padding-left: 5%;
	width: 45%;
	float: left;
}
.mainfontR{
	color: #333333;
	font-size: 1.3rem;
	height: 23%;
	line-height: 180%;
	padding-left: 5%;
	width: 45%;
	float: left;
}
.water .titlefontR{
	color: #2FBCC1;
	text-align: center;
}
.water .mainfontR{
	text-align: center;
}
.water1 {
	width: 50%;
	float: right;
}
.water2{
	font-size: 1.4rem;
	font-weight: bold;
}
.air{
	height: 28%;
	background-color: #f6f6f6;
}
.air .titlefontR{
	color: #2FBCC1;
	text-align: center;
}
.air .mainfontR{
	text-align: center;
}
.soil{
	height: 18%;
	background-color: #f6f6f6;
}
.soil1{
	display: inline-block;
	width: 70%;
	text-align: center;
	font-weight: bold;
	font-size: 1.4rem;
}
/*主体中部样式*/

/*主体右侧样式*/
.rightbox{
	width: 90%;
	margin: 0px auto;
	box-shadow: 0 0.1rem 0.3rem #333333;
	margin-top: 3%;
	background-color: #f6f6f6;
}
.video{
	height: 23%;
}
.rightbox .titlefont{
	height: 31%;
}
.video .mainfontL,.video .mainfontR{
	font-size: 1.2rem;
}
.video1{
	color: #2FBCC1;
	font-size: 1.7rem;
	margin-left: 0.5rem;
}
.video2{
	color: #2FBCC1;
	font-size: 1.2rem;
	margin-left: 0.7rem;
}
.video3{
	width: 30%;
	float: right;
	font-size: 1.3rem;
}
.echart{
	height: 73.2%;
}
.echTitle{
	height: 10%;
	line-height: 200%;
	padding-left:11%;
	width: 89%;
	color: #009EA3;
	background: url(../img/标题背景.png) no-repeat;
	background-size: cover;
	font-size: 1.5rem;
	font-weight: bold;
	position: relative;
	
}
.echTitleimg{
}
.echart1{
	height: 44%;
	width: 100%;
}
#echart1main{
	float: left;
	height:68%;
	width: 100%;
}
.echart1font1{
	margin-top: 1%;
	text-align: center;
	width: 30%;
	float: left;
	height: 29%;
}
.echart1font2{
	margin-top: 8%;
	text-align: center;
	width: 30%;
	float: left;
	height: 20%;
}
.echart1font1top{
	text-align: center;
	margin-top: 12%;
	font-size: 1rem;
	
}
.echart1font1bot{
	text-align: center;
	font-size: 1.5rem;
	color: #2FBCC1;
	font-weight: bold;
}
.echartline{
	float: left;
	height: 20%;
	margin-top: 0.7rem;
	border:1px solid #e5e5e5;
}
.echart1font1bot2{
	
	color: #faa152;
}
.echart1font1bot span{
	font-size: 1.1rem;
	font-weight: normal;
}
.echart1font2top{
	color: #999999;
} 
.echart1font2bot{
	color: #5E94DA;
} 
.echart2{
	height: 35%;
	width: 100%;
}
.echart2font{
	text-align: right;
    padding-left: 22%;
    height: 15%;
    width: 69%;
    font-size: 1rem;
    color: #666666;
}
.echart2font1{
	font-size: 1.5rem;
	color: #009EA3;
	font-weight: bold;
}
.echart2font2{
	font-size: 1.2rem;
	color: #009EA3;
}
#echart2main{
	height: 83%;
	width: 100%;
}
.click{
	opacity: 0.9;
}
.clicked{
	background-color: #47a0e5!important;
	box-shadow: 0.2rem 0.2rem 0.5rem rgba(0,0,0,0.7);
	
}
.clicked .titlefontL,.clicked .titlefont,.clicked .titlefontR,.clicked .titlefontR span,.clicked .mainfont,.clicked .mainfontL,
.clicked .mainfontR span,.clicked .mainfontR,.clicked .pollution1,.clicked .pollution2,.clicked .video1,.clicked .video2{
	color: #FFFFFF;
}