/*雅虎css reset*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre, 
form,fieldset,input,textarea,p,blockquote,th,td { 
    padding: 0; 
    margin: 0; 
} 
table { 
    border-collapse: collapse; 
    border-spacing: 0; 
} 
fieldset,img { 
    border: 0; 
} 
address,caption,cite,code,dfn,em,strong,th,var { 
    font-weight: normal; 
    font-style: normal; 
} 
ol,ul { 
    list-style: none; 
} 
caption,th { 
    text-align: left; 
} 
h1,h2,h3,h4,h5,h6 { 
    font-weight: normal; 
    font-size: 100%; 
} 
q:before,q:after { 
    content:""; 
} 
abbr,acronym { 
    border: 0; 
}
/*整体样式*/
html{
	width: 100%;
	height: 100%;
	
	background: url(../img/beijing.png);
	background-size: cover;
	color: #f1f1f1;
	min-width: 1280px;
}
body{
	
	width: 100%;
	height: 100%;
}
#header{
	width: 100%;
	height: 9%;
}
#main{
	height: 35rem;
	
}
#footer{
	height: 23%;
}
#mainLeft{
	width: 21%;
	height: 100%;
	margin-right: 1%;
	margin-left: 1%;
	float: left;
	
}
#mainRight{
	width: 22%;
	height: 100%;
	margin-right: 1%;
	margin-left: 1%;
	float: left;
	
}
#mainMiddle{
	width: 51%;
	height: 100%;
	float: left;
	position: relative;
}
.style1{
	background-color: #0B1D34;
}
/*头部样式*/
.logo{
	display: block;
	width: 33%;
    height: 83%;
    margin: 0px auto;
	background:url(../img/logo.png);
	background-size:cover ;
}
/*主体左侧样式*/
.title{
	height: 2.7rem;
    line-height: 2.7rem;
    font-size: 1.3rem;
    background: url(../img/biaotilan.png) no-repeat;
    margin-bottom: 0.4rem;
    background-size: 23.9rem 2.6rem;
    padding-left: 2rem;
}
#realTime{
	height: 12.5rem;
	width: 100%;
	padding-top: 0.2rem;
}
#realTimeTable{
	width: 100%;
	border: none;
	
}
#realTimeTable td{
	padding: 1.5%;
	padding-left: 3%;
	color: #f1f1f1;
	border: none;
	font-size: 1rem;
	text-align: center;
}
#realTimeTable tr{
	border: 1px solid #2A87B9;
}
.plateNub1{
	width: 6rem;
	height: 1.7rem;
	line-height: 1.7rem;
	margin: 0px auto;
	background-color: #3b7ace;
	border-radius: 3px;
}
.plateNub2{
	width: 6rem;
	height: 1.7rem;
	line-height: 1.7rem;
	margin: 0px auto;
	background-color: #e4b615;
	border-radius: 3px;
	color: #333333;
}
#chart4{
	width: 24rem;
	height: 11rem;
	display: inline-block;
}
#chart4Nub{
	width: 24rem;
	height: 2rem;
	display: inline-block;
}
.chart4Nub1{
	width: 12rem;
	text-align: center;
	font-size: 1rem;
	color: #fdd853;
	float: left;
}
.chart4Nub2{
	width: 12rem;
	text-align: center;
	font-size: 1rem;
	color: #fd4d46;
	float: left;
}
/*主体中部样式*/
#chart3{
	width: 56rem;
	height: 34.4rem;
	margin-left: 0.5rem;
	display: inline-block;
	position: relative;
	background-color: red;
}
#gisMessage{
	height: 19rem;
    float: left;
    width: 37rem;
    position: absolute;
	top: 5rem;
    left: 10.6rem;
    background: url(../img/chartbg.png) no-repeat;
    background-size: 37rem 19rem;
    opacity: 0.8;
}
#tableHeader{
	margin-left: 0.6rem;
    margin-top: 0.5rem;
	width: 96.4%;
	text-align: center;
	height: 2.5rem;
	line-height: 2.5rem;
	font-size: 1.2rem;
	border: none;
	background-color: #19395c;
}
#tableHeader div{
	width: 25%;
	float: left;
	text-align: center;
	border: none;
	color: #FFFFFF;
	
}
#tableroll{
	height: 15.3rem;
    overflow: hidden;
}
.barstyle{
	position: absolute;
	right: 1.1rem!important;
}
#gisMessageTable{
	margin-left: 0.6rem;
	width: 96.5%;
	table-layout:fixed;
	background-color: #19395c;
}
#gisMessageTable td{
	padding: 0.7rem;

	color: #f1f1f1;
	border: none;
	font-size: 1rem;
	text-align: center;
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
}





#toolsleft{
	position: absolute;
	top: 17rem;
    left: 2rem;
	width: 3rem;
	height: 12rem;
	background: url(../img/gongjutiao6.png) no-repeat;
	background-size: 3rem 12rem ;
}
#toolsleftbot{
	position: absolute;
	top: 30rem;
    left: 2rem;
	width: 3rem;
	height: 3rem;
	background: url(../img/gongjutiao7.png) no-repeat;
	background-size: 3rem 3rem ;
}
#toolsleft1,#toolsleft2,#toolsleft3,#toolsleft4{
	width: 3rem;
	height: 3rem;
}
#toolsleft1{
	background-size: 3rem 3rem;
	background: url(../img/gongjutiao1.png) no-repeat 0.5rem 0.4rem;
}
#toolsleft2{
	background-size: 3rem 3rem;
	background: url(../img/gongjutiao2.png) no-repeat 0.5rem 0.9rem;
}
#toolsleft3{
	background-size: 3rem 3rem;
	background: url(../img/gongjutiao3.png) no-repeat 0.6rem 0.2rem;
}
#toolsleft4{
	background-size: 3rem 3rem;
	background: url(../img/gongjutiao4.png) no-repeat 0.5rem 0.2rem;
}
#toolsleft5{
	width: 3rem;
	height: 3rem;
	background-size: 3rem 3rem;
	background: url(../img/gongjutiao5.png) no-repeat 0.5rem 0.4rem;
}
#timeline{
	position: absolute;
    top: 28rem;
    left: 11rem;
    height: 4.9rem;
    width: 36rem;
    background: url(../img/shijianzhou.png) no-repeat;
	background-size: 36.7rem 4.9rem;
	border-radius: 0.5rem;
}
#line1{
	position: absolute;
    width: 21rem;
    top: 2.4rem;
    left: 3.1rem;
    border: 1px solid #1f87ca;
}
#butleft{
	position: absolute;
    top: 1.4rem;
    left: 0.8rem;
    width: 1.5rem;
    height: 2rem;
    background: url(../img/zuojiantou.png) no-repeat;
    background-size: 1.5rem 2rem;
}
#butright{
	position: absolute;
    top: 1.4rem;
    left: 26rem;
    width: 1.5rem;
    height: 2rem;
    background: url(../img/youjiantou.png) no-repeat;
    background-size: 1.5rem 2rem;
}
#ztbut{
	position: absolute;
    top: 0.9rem;
    left: 28rem;
    width: 3rem;
    height: 3rem;
    background: url(../img/zanting.png) no-repeat;
    background-size: 3rem 3rem;
}


#time1,#time2,#time3,#time4,#time5{
	position: absolute;
    height: 3.7rem;
    width: 1.4rem;

}
#time1{
    left: 2.6rem;
    top: 0.5rem;
}
#time2{
    left: 7.85rem;
    top: 0.5rem;
}
#time3{
    left: 13.1rem;
    top: 0.5rem;
}
#time4{
    left: 18.35rem;
    top: 0.5rem;
}
#time5{
    left: 23.6rem;
    top: 0.5rem;
}
.timelinePoint1Out,.timelinePoint2Out,.timelinePoint3Out,.timelinePoint4Out,.timelinePoint5Out{
	position: absolute;
    top: 1.4rem;
    left: 0.1rem;
    width: 1.1rem;
    height: 1.1rem;
    border-radius: 1.1rem;
   /* background-color: #4ef0ff;*/
}
.timelinePoint1,.timelinePoint2,.timelinePoint3,.timelinePoint4,.timelinePoint5{
	position: absolute;
    top: 0.3rem;
    left: 0.3rem;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 0.5rem;
    background-color: #1f87cf;
}

.timePk .checkPoint{
	position: absolute;
	top: 0.2rem;
	left: 0.25rem;
    width: 0.6rem;
    height: 0.6rem;
    border-radius: 0.7rem;
    background-color: #4ef0ff;
}
.timePk .checkPointOut{
	background-color: #4490AD;
}
.timePk .checkPointNub{
	color: #4ef0ff!important;
}
.timelineNub1,.timelineNub2,.timelineNub3,.timelineNub4,.timelineNub5{
	width: 3rem;
	height: 1.2rem;
	position: absolute;
	top: 2.7rem;
    left: -0.65rem;
    color: #1f87cf;
}








#mainMessage{
	height: 15rem;
	overflow-y: scroll;
	width: 100%;
	
}
#mainMessageTable{
	width: 100%;
	border: none;
	table-layout:fixed;
}
#mainMessageTable tr{
	border: 1px solid #2A87B9;
}
#mainMessageTable td{
	padding: 0.3%;
	text-align: center;
	color: #f1f1f1;
	border: none;
	font-size: 1.2rem;
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
	
}
/*主体右侧样式*/
.title2{
	height: 2.7rem;
    line-height: 2.7rem;
    font-size: 1.3rem;
    background: url(../img/biaotilan.png) no-repeat;
    margin-bottom: 0.4rem;
    background-size: 24.7rem 2.6rem;
    padding-left: 2rem;
}
#chart1{
	width: 24.7rem;
	height: 10rem;
	display: inline-block;
}
#chart1Nub{
	width: 24.7rem;
	height: 4rem;
	display: inline-block;
}
.chart1Nub1,.chart1Nub2,.chart1Nub3,.chart1Nub4{
	float: left;
	width: 12.3rem;
}
.chart1Nub1c{
	color: #3474F6;
}
.chart1Nub2c{
	color: #00E6EE;
}
.chart1Nub3c{
	color: #03F47A;
}
.chart1Nub4c{
	color: #9EF90F;
}
.chart1Nub5c{
	color: #FDDD04;
}
.chart1NubW{
	display: inline-block;
	width: 8rem;
	text-align: right;
}
#chart2{
	width: 24.7rem;
	height: 14rem;
	display: inline-block;
}

/*底部样式*/
.barstylebot{
	position: absolute;
	right: 0.3rem!important;
}
#dynamic{
	height: 12.5rem;
	width: 100%;
	padding-top: 0.2rem;
}
#dynamicTable{
	width: 80%;
	margin: 0px auto;
	border: none;
	
}
#dynamicTable td{
	padding: 0.5rem;
	padding-left: 1rem;
	color: #f1f1f1;
	border: none;
	font-size: 1rem;
	text-align: center;
}
#dynamicTable tr{
	border: 1px solid #2A87B9;
}
#dynamicTable tr:first-child{
	border-top: none;
}
#dynamicTable{
	border-bottom: 1px solid #2A87B9;
}
#dynamicTable tr:last-child{
	border: 1px solid #2A87B9;
	border-bottom: none;
}
#dynamicTable{
	width: 100%;
	margin: 0px auto;
	border: none;
	
}
#dynamicTable td{
	padding: 0.5rem;
	padding-left: 1rem;
	color: #f1f1f1;
	border: none;
	font-size: 1rem;
	text-align: center;
}
#dynamicTable tr{
	border: 1px solid #2A87B9;
}
#dynamicTableheader{
	width: 98%;
	margin: 0px auto;
	border: none;
	
}
#dynamicTableheader td{
	padding: 0.5rem;
	padding-left: 1rem;
	color: #f1f1f1;
	border: none;
	font-size: 1rem;
	text-align: center;
}
#dynamicTableheader tr{
	border: 1px solid #2A87B9;
}
#dynamicTableheader{
	width: 98%;
	margin: 0px auto;
	border: none;
	
}
#dynamicTableheader td{
	padding: 0.5rem;
	padding-left: 1rem;
	color: #f1f1f1;
	border: none;
	font-size: 1rem;
	text-align: center;
}
#dynamicTableheader tr{
	border: 1px solid #2A87B9;

}
#dynamicTabledroll{
	height: 9.7rem;
	width: 98%;
	margin: 0px auto;
	overflow: hidden;
	border-bottom: 1px solid #2A87B9;
}
#dynamic2{
	height: 12.5rem;
	width: 100%;
	padding-top: 0.2rem;
}
#dynamicTable2{
	width: 100%;
	border: none;
	
}
#dynamicTable2 td{
	padding: 0.5rem;
	padding-left: 1rem;
	color: #f1f1f1;
	border: none;
	font-size: 1rem;
	text-align: center;
}
#dynamicTable2 tr{
	border: 1px solid #2A87B9;
}
#dynamicTable2 tr:first-child{
	border-top: none;
}
#dynamicTable2{
	width: 100%;
	border: none;
	
}
#dynamicTable2 td{
	padding: 0.5rem;
	padding-left: 1rem;
	color: #f1f1f1;
	border: none;
	font-size: 1rem;
	text-align: center;
}
#dynamicTable2 tr{
	border: 1px solid #2A87B9;
}
#dynamicTable2{
	border-bottom: 1px solid #2A87B9;
}
#dynamicTable2 tr:last-child{
	border: 1px solid #2A87B9;
	border-bottom: none;
}
#dynamicTableheader2{
	width: 98%;
	margin: 0px auto;
	border: none;
	
}
#dynamicTableheader2 td{
	padding: 0.5rem;
	padding-left: 1rem;
	color: #f1f1f1;
	border: none;
	font-size: 1rem;
	text-align: center;
}
#dynamicTableheader2 tr{
	border: 1px solid #2A87B9;
}
#dynamicTableheader2{
	width: 98%;
	margin: 0px auto;
	border: none;
	
}
#dynamicTableheader2 td{
	padding: 0.5rem;
	padding-left: 1rem;
	color: #f1f1f1;
	border: none;
	font-size: 1rem;
	text-align: center;
}
#dynamicTableheader2 tr{
	border: 1px solid #2A87B9;

}
#dynamicTabledroll2{
	height: 17rem;
	width: 98%;
	margin: 0px auto;
	overflow: hidden;
	border-bottom: 1px solid #2A87B9;
	
}

@media only screen and (min-width: 0px) and (max-width: 1350px) {
	#chart3{
		width: 54rem;
	}
}