/*雅虎css reset*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre, 
form,fieldset,input,textarea,p,blockquote,th,td { 
    padding: 0; 
    margin: 0; 
} 
table { 
    border-collapse: collapse; 
    border-spacing: 0; 
} 
fieldset,img { 
    border: 0; 
} 
address,caption,cite,code,dfn,em,strong,th,var { 
    font-weight: normal; 
    font-style: normal; 
} 
ol,ul { 
    list-style: none; 
} 
caption,th { 
    text-align: left; 
} 
h1,h2,h3,h4,h5,h6 { 
    font-weight: normal; 
    font-size: 100%; 
} 
q:before,q:after { 
    content:""; 
} 
abbr,acronym { 
    border: 0; 
}
/*整体样式*/
html{
	width: 100%;
	height: 100%;
	background: url(../img/beijing.png);
	background-size: cover;
	color: #f1f1f1;
	min-width: 1280px;
}
body{
	width: 100%;
	height: 100%;
}
#header{
	width: 100%;
	height: 10%;
}
#main{
	height: 90%;
	
}
#mainLeft{
	width: 23rem;
	height: 100%;
	margin-right: 0.5rem;
	margin-left: 1.5rem;
	float: left;
	
}
#mainRight{
	width: 26%;
	height: 100%;
	margin-right: 1%;
	margin-left: 1%;
	float: left;
	
}
#mainMiddle{
	width: 76%;
	height: 100%;
	float: left;
}
.style1{
	background-color: #0B1D34;
}
/*头部样式*/
.logo{
	display: block;
	width: 49rem;
    height: 5rem;
    margin: 0px auto;
	background:url(../img/logo.png);
	background-size:cover ;
}
/*主体左侧样式*/
.title{
	height: 3rem;
	line-height: 3rem;
	font-size: 1.2rem;
	color: #51CBFD;
	font-weight: bold;
	background: url(../img/biaotilan.png) no-repeat;
	background-size:22.7rem 3rem;
	padding-left: 2rem;
	margin-bottom: 0.5rem;
}
.carNub{
    width: 6rem;
    height: 1.4rem;
    background-color: #E4B615;
    color: #333;
    border-radius: 0.2rem;
    text-align: center;
}
}
#carMessage{
	height: 20.9rem;
	width: 100%;
}
#carMessageTable{
	width: 99%;
	border: none;
	table-layout:fixed;
}
#carMessageTable tr{
	border: 1px solid #2A87B9;
}
#carMessageTable td{
	padding: 1.4%;
	padding-left: 3%;
	color: #f1f1f1;
	border: none;
	font-size: 1.1rem;
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
}
#carText{
	height: 9rem;
	width: 100%;
}
#carTextTableroll{
	height: 6.1rem;
	overflow: hidden;
}
#carTextTable{
	width: 99%;
	border: none;
	table-layout:fixed;
}

#carTextTable tr{
	border: 1px solid #2A87B9;
}
#carTextTable tr:first-child{
	border-top: none;
}
#carTextTable td{
	padding: 1.4%;
	padding-left: 3%;
	color: #f1f1f1;
	border: none;
	font-size: 1.1rem;
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
}
#carTextTableheader {
	width: 99%;
	border: none;
	table-layout:fixed;
}
.barstyle{
	position: absolute;
	right: 0.2rem!important;
}
#carTextTableheader tr{
	border: 1px solid #2A87B9;
}
#carTextTableheader td{
	padding: 1.4%;
	padding-left: 3%;
	color: #f1f1f1;
	border: none;
	font-size: 1.1rem;
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
}
.testResultsFont{
	display: block;
	float: left;
	width: 5rem;
}
.testResultsF{
	color: #EB4C4F;
}
.testResultsT{
	color: #18E3AE;
}
#InforChanges{
	height: 7rem;
	width: 100%;
}
#InforChangesTable{
	width: 99%;
	border: none;
	table-layout:fixed;
}
#InforChangesTableroll{
	height: 6.1rem;
	overflow: hidden;
}
	
#InforChangesTable tr{
	border: 1px solid #2A87B9;
}
#InforChangesTable td{
	padding: 1.4%;
	padding-left: 3%;
	color: #f1f1f1;
	border: none;
	font-size: 1.1rem;
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
}
.InforChangesInfo{
	color:#188AD5;
	text-decoration: underline;
	cursor: pointer;
}
/*主体中部样式*/
#chart3bg{
	background: url(../img/chartbg.png) no-repeat;
	background-size: 85rem 29.5rem;
}

#chart3{
	margin-top: 1rem;
	
	width: 82rem;
	height: 29rem;
}
#contrast{
	margin-top: 2rem;
	margin-left: 0.8rem;
	height: 9rem;
	float: left;
	width: 54rem;
}
.tableHeader{
	width: calc(100% - 2px);
	text-align: center;
	height: 2rem;
	line-height: 2rem;
	font-size: 1.2rem;
	font-weight: bold;
	border: 1px solid #2A87B9;
	border-bottom: none;
	color: #51CBFD;
}
#contrastTable{
	width: 100%;
	border: 1px solid #2A87B9;
	table-layout:fixed;
}
#contrastTable tr{
	border: 1px solid #2A87B9;
}
#contrastTable td{
	padding: 1.3rem;
	padding-left: 1rem;
	color: #f1f1f1;
	border: 1px solid #2A87B9;
	font-size: 1.1rem;
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
}
.tableHeader2{
	width: calc(100% - 2px);
	text-align: center;
	height: 2rem;
	line-height: 2rem;
	font-size: 1.2rem;
	font-weight: bold;
	border: 1px solid #2A87B9;
	border-bottom: none;
	color: #51CBFD;
}
#alarmInfor{
	margin-top: 2rem;
	height: 9rem;
	float: left;
	width: 28rem;
	margin-left: 2.3rem;
}
#alarmInfordiv{
	width: 100%;
	height: 12rem;
	overflow-y: hidden;
	border-bottom: 1px solid #2A87B9;
}
#alarmInforTable{
	width: 100%;
	border: 1px solid #2A87B9;
	table-layout:fixed;
}
#alarmInforTable tr{
	border: 1px solid #2A87B9;
}
#alarmInforTable td{
	padding: 1%;
	padding-left: 3%;
	color: #f1f1f1;
	border: none;
	font-size: 1.1rem;
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
}
/*滑动插件样式*/
#jqmeter-container .therm{
	border-radius: 1rem;
}
#jqmeter-container .outer-therm{
	margin: 0px;
	width: 22rem!important;
    height: 1.5rem!important;
    background-color: #055ea1!important;
}
#jqmeter-container .inner-therm{
    height: 1.5rem!important;
    background: -webkit-linear-gradient(left, #3374b4 , #33adfe); /* Safari 5.1 - 6.0 */
	background: -o-linear-gradient(right, #3374b4 , #33adfe); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right, #3374b4 , #33adfe); /* Firefox 3.6 - 15 */
	background: linear-gradient(to right, #3374b4 , #33adfe);/* 标准的语法 */
}
#jqmeter-container .inner-therm span{
	padding: 0!important;
	margin-right: 1rem;
	font-size: 1.3rem!important;
	color: #0B1D34;
	font-weight:normal!important;
}
#jqmeter-container2 .therm{
	border-radius: 1rem;
}
#jqmeter-container2 .outer-therm{
	margin: 0px;
	width: 22rem!important;
    height: 1.5rem!important;
    background-color: #854f23!important;
}
#jqmeter-container2 .inner-therm{
    height: 1.5rem!important;
    background: -webkit-linear-gradient(left, #a86831 , #f3993f); /* Safari 5.1 - 6.0 */
	background: -o-linear-gradient(right, #a86831 , #f3993f); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right, #a86831 , #f3993f); /* Firefox 3.6 - 15 */
	background: linear-gradient(to right, #a86831 , #f3993f);/* 标准的语法 */
}
#jqmeter-container2 .inner-therm span{
	padding: 0!important;
	margin-right: 1rem;
	font-size: 1.3rem!important;
	color: #0B1D34;
	font-weight:normal!important;
}
#jqmeter-container3 .therm{
	border-radius: 1rem;
}
#jqmeter-container3 .outer-therm{
	margin: 0px;
	width: 22rem!important;
    height: 1.5rem!important;
    background-color: #068073!important;
}
#jqmeter-container3 .inner-therm{
    height: 1.5rem!important;
    background: -webkit-linear-gradient(left, #45a88d , #00dea2); /* Safari 5.1 - 6.0 */
	background: -o-linear-gradient(right, #45a88d , #00dea2); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right, #45a88d , #00dea2); /* Firefox 3.6 - 15 */
	background: linear-gradient(to right, #45a88d , #00dea2);/* 标准的语法 */
}
#jqmeter-container3 .inner-therm span{
	padding: 0!important;
	margin-right: 1rem;
	font-size: 1.3rem!important;
	color: #0B1D34;
	font-weight:normal!important;
}
@media only screen and (max-width: 1350px) {
	
	#contrast{
	margin-top: 2rem;
	margin-left: 0.8rem;
	height: 9rem;
	float: left;
	width: 49rem;
	}
	
}