/*雅虎css reset*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre, 
form,fieldset,input,textarea,p,blockquote,th,td { 
    padding: 0; 
    margin: 0; 
} 
table { 
    border-collapse: collapse; 
    border-spacing: 0; 
} 
fieldset,img { 
    border: 0; 
} 
address,caption,cite,code,dfn,em,strong,th,var { 
    font-weight: normal; 
    font-style: normal; 
} 
ol,ul { 
    list-style: none; 
} 
caption,th { 
    text-align: left; 
} 
h1,h2,h3,h4,h5,h6 { 
    font-weight: normal; 
    font-size: 100%; 
} 
q:before,q:after { 
    content:""; 
} 
abbr,acronym { 
    border: 0; 
}
/*整体样式*/
html{
	width: 100%;
	height: 100%;
	min-width: 1280px;
	background-color: #f2f4f6;
}
body{
	width: 100%;
	height: 100%;
	overflow-x: hidden;
}
#mainbody{
	width: 114rem;
	height: 89rem;
	background: url(../img/bj.png) no-repeat;
	background-size: 114rem 89rem;
}
/*顶部样式*/
#header span{
	color: #FFFFFF;
	font-size: 1rem;
	height: 2rem;
	line-height: 2rem;
	cursor: pointer;
}
.headerSpan1{
	float: left;
	margin-left: 5rem;
}
.headerSpan2{
	margin-left: 68%;
}
.headerSpan3{
	margin-left: 1rem;
}
.headerSpan4{
	margin-left: 1rem;
}
.headerSpan5{
	margin-left: 1rem;
}
/*logo样式*/
#logo{
	margin-top: 6rem;
	margin-left: 25rem;
	background: url(../img/logo.png.png) no-repeat;
	width: 36rem;
	height: 6rem;
	background-size: 36rem 6rem;
}
/*圆角标签栏*/
#menhutaps{
	width: 98rem;
	height: 4rem;
	margin-top: 6rem;
	background: url(../img/taps.png) no-repeat;
	background-size: 98rem 4rem;
	margin-left: 7.5rem;
}
#menhutaps .menhutap:first-child{
	margin-left: 3.5rem;
}
.menhutap{
	display: block;
	float: left;
	color: #aaeffe;
	font-weight: bold;
	text-align: center;
	height: 4rem;
	line-height: 4rem;
	width: 13rem;
	font-size: 1.5rem;
	cursor: pointer;
}
.menhutapclick{
	color: #FFFFFF;
}
/*中部主体样式*/
#maintop,#mainbot{
	margin-top: 0.7rem;
	width: 92rem;
	margin-left: 10.5rem;
	height: 27rem;
	
}
#erji{
	width: 100%;
	height: 4rem;
	line-height: 4rem;
	background-color: rgba(243,250,253,0.8);
	
}
#erji div{
	float: left;
}
.titleErji{
	width: 9rem;
	font-size: 1.5rem;
	color: #09969B;
	text-align: center;
	font-weight: bold;
	background-color: rgba(227,241,242,0.8);
}
.titleErji2{
	width: 8rem;
	color: #8E8E90;
	font-size: 1.5rem;
	text-align: center;
	font-weight: bold;
	margin-left: 2rem;
	margin-right: 44rem;
}
.titleb1{
	width: 3rem;
	height: 3rem;
	background: url(../img/daiban.png) no-repeat;
	background-size: 3rem 3rem;
	margin-top: 0.5rem;
}
.titlebfont{
	color: #8E8E90;
	font-size: 1.5rem;
	font-weight: bold;
	height: 3rem;
	line-height: 3rem;
	margin-top: 0.5rem;
}
#maintopbody{
	width: 100%;
	height: 23rem;
	background-color: rgba(227,241,242,1);
}
/*环境监察二级*/
#erjitaps{
	float: left;
	width: 60rem;
	height: 100%;
}
.erjitap{
	padding-top: 1rem;
	height: 8rem;
	width: 12rem;
	float: left;
}
#hiSlider{
	height: 21rem;
	width: 32rem;
	margin: 1rem;
	float: left;
}
.hiSlider{
	overflow: hidden;
	height: 21rem;
	width: 32rem;
	float: left;
}
.hiSlider-item{
    float: left;
}
.hiSlider-item img{
	height: 21rem;
	width: 32rem;
}
#line2{
	float: left;
	height: 90%;
	margin-top: 1rem;
	margin-left: 0.3rem;
	border: 1px solid #D9E8E9;
	position: relative;
}
.line2pointer1{
	position: absolute;
	top:2rem;
	left: -6px;
	background-color: #91CACD;
	width: 12px;
	height: 12px;
	border-radius: 8px;
}
.line2pointer1in{
	position: absolute;
	top:3px;
	left: 3px;
	z-index: 1;
	background-color: #09969B;
	width: 6px;
	height: 6px;
	border-radius: 6px;
}
.line2pointer2{
	position: absolute;
	top:10rem;
	left: -3px;
	background-color: #AED8DB;
	width: 6px;
	height: 6px;
	border-radius: 6px;
}
.line2pointer3{
	position: absolute;
	top:17rem;
	left: -3px;
	background-color: #AED8DB;
	width: 6px;
	height: 6px;
	border-radius: 6px;
}
.xinwenk{
	float: left;
	height: 100%;
	width: 24rem;
	margin-left: 1rem;
}
.xinwenk>div{
	height: 7.5rem;
	width: 24rem;
	position: relative;
}
.xinwentitle{
	height: 3.5rem;
	width: 80%;
	line-height: 3.5rem;
	font-size: 1.5rem;
	font-weight: bold;
	color: #727575;
	float: left;
}
.xinwentitlebold{
	color: #09969B;
}
.xinwenfont{
	height: 3rem;
	width: 80%;
	font-size: 1.2rem;
	color: #727575;
	float: left;
}
.newpng{
	float: left;
	height: 1.5rem;
	width: 4rem;
	margin-top: 1rem;
	margin-left: 0.5rem;
	background: url(../img/new.png) no-repeat;
	background-size: 4rem 1.5rem;
}
.clear{
	clear: both;
}
.xinwentime{
	margin-left: 1rem;
	margin-top: 2rem;
	font-size: 1.1rem;
	color: #8C8F91;
	float: left;
}
#line1{
	float: left;
	height: 90%;
	margin-top: 1rem;
	border: 1px solid #e5e5e5;
}

.tapsfont{
	width: 100%;
	height: 2rem;
	line-height: 2rem;
	font-size: 1.1rem;
	text-align: center;
}
/*.element{  
    width: 0px;  
    height: 0px;  
    float: left;
    border-top: 20px solid transparent;  
    border-right: 20px solid darkkhaki;   
    border-bottom: 20px solid transparent;  
    border-left: 20px solid transparent; 
}  */
/*待办事项*/
#daibanmain{
	float: left;
	margin-left: 2rem;
	margin-top: 2rem;
	width: 28rem;
}
.daimianlist{
	width: 100%;
	height: 2.4rem;
	line-height: 2.4rem;
}
.listimg{
	float: left;
	height: 2rem;
	width: 2rem;
	background: url(../img/listimg_2.png) no-repeat 0.8rem 0.7rem;
	background-size: 0.7rem 1rem;
}
.listfont{
	cursor: pointer;
	float: left;
	font-size: 1.1rem;
	color: #333333;
}
.daimianlist:hover .listimg{
	float: left;
	height: 2rem;
	width: 2rem;
	background: url(../img/listimg_1.png) no-repeat 0.8rem 0.5rem;
	background-size: 0.7rem 1rem;
}
.daimianlist:hover .listfont{
	color: #aa1111;
}
.daimianlistclick .listimg{
	float: left;
	height: 2rem;
	width: 2rem;
	background: url(../img/listimg_1.png) no-repeat 0.8rem 0.5rem;
	background-size: 0.7rem 1rem;
}
.daimianlistclick .listfont{
	color: #aa1111;
}
/*主体下部框架*/
#mainbot{
	height: 34rem;
	background-color: rgba(227,241,242,1);
}
#mainbotmenu{
	height: 100%;
	width: 12rem;
	float: left;
}
#mainbotmenu div{
	height: 8rem;
	width: 8rem;
	margin: 2rem;
}
.kongqimenu{
	background: url(../img/kongqi.png) no-repeat;
	background-size: 8rem 8rem;
}
.shuimenu{
	background: url(../img/shui.png) no-repeat;
	background-size: 8rem 8rem;
}
.wuranmenu{
	background: url(../img/wuran.png) no-repeat;
	background-size: 8rem 8rem;
}
#line3{
	float: left;
	height: 90%;
	margin-top: 2rem;
	border: 1px solid #C8CFD1;
}
.inner1{
width:10px;
height:10px;
background-color: rgba(227,241,242,1);
border:2px solid #C8CFD1;
/* 旋转小方块并调整位置形成尖角 */
position:relative;
left: 11.6rem;
top: 5.5rem;
transform:rotate(45deg);
border-right:0px;
border-top:0px;
display: none;
}
.inner2{
width:10px;
height:10px;
background-color: rgba(227,241,242,1);
border:2px solid #C8CFD1;
/* 旋转小方块并调整位置形成尖角 */
position:relative;
left: 11.6rem;
top: 15.5rem;
transform:rotate(45deg);
border-right:0px;
border-top:0px;
display: none;
}
.inner3{
width:10px;
height:10px;
background-color: rgba(227,241,242,1);
border:2px solid #C8CFD1;
/* 旋转小方块并调整位置形成尖角 */
position:relative;
left: 11.6rem;
top: 25.5rem;
transform:rotate(45deg);
border-right:0px;
border-top:0px;
display: none;
}
.innerclick{
	display: block;
}
/*空气质量*/
#kongqimain{
	height: 34rem;
	width: 76rem;
	margin-left: 1rem;
	margin-top: -1rem;
	float: left;
}
.header{
	width: 100%;
	height: 3rem;
	
	border-bottom: 1px solid #DDE2E3;
}
.header>div{
	float: left;
	height: 3rem;
	line-height: 3rem;
	position: relative;
	bottom: -1px;
	text-align: center;
	font-size: 1.4rem;
	color: #333333;
	font-weight: bold;
}
.headertapclick{
	color:#09969B!important;
	border-bottom: 2px solid #09969B;
}
.header>.AQItap{
	width: 6rem;
	margin-right: 2rem;
}
.KQZLtap{
	width: 10rem;
}

.kongqimainleft{
	height: 30rem;
	width: 45%;
	float: left;
}
.mapfont{
	height: 3rem;
	line-height: 3rem;
	font-size: 1.4rem;
	color: #686868;
	font-weight: bold;
}
#KQZLmap{
	width: 100%;
	height: 27rem;
}
.kongqimainright{
	height: 30rem;
	width: 55%;
	float: left;
}
.tabletitle>div{
	float: right;
	color: #333333;
	height: 3rem;
	width: 8rem;
	line-height: 3rem;
	text-align: center;
	cursor: pointer;
}
.tabletitleclick{
	color: #333399!important;
}
.paimingtable{
	height: 27rem;
	width: 100%;
	font-size: 1.2rem;
	color: #686868;
	font-weight: bold;
	border:1px solid #CECECE ;
	text-align: center;
}
.paimingtable th{
	text-align: center;
	color: #333333;
	font-weight: bold;
	background-color: #DDE2E3;
	
}
.paimingtable tr:hover{
	background-color: #DDE2E3;
}
#tablequshi{
	width: 100%;
	height: 100%;
	background:url(../img/jiantou.png) no-repeat 4.2rem 0.7rem;
	background-size: 2rem 2rem;
}
/*底部样式*/
#footer{
	width: 114rem;
	height: 10rem;
	background-color: #1183A4;
}
#footermain{
	width: 60rem;
	margin-left: 26rem;
	height: 100%;
	overflow: hidden;
}
#wangzhi{
	margin-left: 10rem;
	margin-top: 1rem;
	height: 4rem;
	width: 100%;
}
.wangzhifont{
	float: left;
	color: #FFFFFF;
	font-size: 1.2rem;
	width: 10rem;
	height: 3rem;
	line-height: 3rem;
	text-align: center;
}
.wangzhiline{
	float: left;
	height: 1rem;
	margin-top: 1rem;
	border: 1px solid #4fa4bc;
}
.footerline{
	width: 50rem;
	clear: both;
	margin-top: 0.5rem;
	margin-bottom: 1.5rem;
	margin-left: 5rem;
	border: 1px solid #4fa4bc;
}
#footerbot{
	clear: both;
	color: #FFFFFF;
	font-size: 1.1rem;
	margin-left: 5.5rem;
}
