/*时间轴样式*/
.timer{
    position: absolute;
    bottom: 35px;
    left:50%;
    margin-left:-221px;
    width: 440px;
    height: 40px;
    border:1px solid #1387c0;
    border-radius:3px;
    background: #fff;
    z-index: 999;
}
.timer ul{
    /*width: 400px;*/
    /*margin-left: 40px;*/
    margin:5px 10px;
    padding-left:10px;
    overflow: hidden;
    position: relative;
    z-index: 9;
}
.timer ul .line{
    position: absolute;
    width: 300px;
    height: 1px;
    background: #949494;
    top:25%;
    left:40px;
    margin-top: 2px;
    z-index: 1;
}
.timer ul li{
    position:relative;
    float: left;
    width: 60px;
    text-align: center;
    margin-top: 4px;
    padding-top: 14px;
    font-family: SimSun;
    color: #363636;
    font-size:12px;
    /*background: url(time_pressed.png) no-repeat center;*/
}
.timer ul li span{
    padding:2px 3px;
}
.timer ul li.openTimer span{
    background:#00a0e9;
    border-radius:2px;
    color:#fff;
}
.timer ul li:before{
    content:'';
    display:inline-block;
    position:absolute;
    top:1px;
    left:50%;
    margin-left:-6px;
    width:12px;
    height:12px;
    background:#d8d8d8;
    border-radius:50%;
}
.timer ul li:after{
    content:'';
    display:inline-block;
    position:absolute;
    top:4px;
    left:50%;
    margin-left:-3px;
    width:6px;
    height:6px;
    background:#949494;
    border-radius:50%;
}
.timer ul li:hover:before{
    background:#b8e5f9;
}
.timer ul li:hover:after{
    background:#0091d3;
}
.timer ul li.openTimer:before{
    background:#b8e5f9;
}
.timer ul li.openTimer:after{
    background:#0091d3;
}
.btntab{
    width: 12px;
    height: 20px;
    position: absolute;
    z-index: 999;
    cursor: pointer;
}
.prev{
    left: 12px;
    top:10px;
    background: url(../imgs/time_zuo.png) no-repeat center;
}
/*.prev:hover{
    background: url(../image/timeyou_pressed.png) no-repeat center;
}*/
.next{
    right:50px;
    top:10px;
    background: url(../imgs/time_you.png) no-repeat center;
}
/*.next:hover{
    background: url(../image/timezuo_pressed.png) no-repeat center;
}*/
.zanting{
    top:3px;
    right:10px;
    width: 34px;
    height: 34px;
    background: url(../imgs/timei_guan.png) no-repeat center;
}
.openLi{
    background: url(../imgs/time_kai.png) no-repeat center;
}
/*.timer ul li:hover{*/
/*!*background: url(time_default.png) no-repeat center;*!*/
/*}*/