/*雅虎css reset*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre, 
form,fieldset,input,textarea,p,blockquote,th,td { 
    padding: 0; 
    margin: 0; 
} 
table { 
    border-collapse: collapse; 
    border-spacing: 0; 
} 
fieldset,img { 
    border: 0; 
} 
address,caption,cite,code,dfn,em,strong,th,var { 
    font-weight: normal; 
    font-style: normal; 
} 
ol,ul { 
    list-style: none; 
} 
caption,th { 
    text-align: left; 
} 
h1,h2,h3,h4,h5,h6 { 
    font-weight: normal; 
    font-size: 100%; 
} 
q:before,q:after { 
    content:""; 
} 
abbr,acronym { 
    border: 0; 
}
/*整体样式*/
html{
	width: 100%;
	height: 100%;
	min-width: 1280px;
	background-color: #f2f4f6;
}
body{
	width: 100%;
	height: 100%;
	overflow-x: hidden;
}
#mainbody{
	width: 114rem;
	height: 85rem;
	background: url(../img/bj.png) no-repeat;
	background-size: 114rem 86rem;
}
/*顶部样式*/
#header span{
	color: #FFFFFF;
	font-size: 1rem;
	height: 2rem;
	line-height: 2rem;
	cursor: pointer;
}
.headerSpan1{
	float: left;
	margin-left: 5rem;
}
.headerSpan2{
	margin-left: 68%;
}
.headerSpan3{
	margin-left: 1rem;
}
.headerSpan4{
	margin-left: 1rem;
}
.headerSpan5{
	margin-left: 1rem;
}
/*logo样式*/
#logo{
	margin-top: 6rem;
	margin-left: 25rem;
	background: url(../img/logo.png.png) no-repeat;
	width: 36rem;
	height: 6rem;
	background-size: 36rem 6rem;
}
/*圆角标签栏*/
#menhutaps{
	width: 98rem;
	height: 4rem;
	margin-top: 6rem;
	background: url(../img/taps.png) no-repeat;
	background-size: 98rem 4rem;
	margin-left: 7.5rem;
}
#menhutaps .menhutap:first-child{
	margin-left: 3.5rem;
}
.menhutap{
	display: block;
	float: left;
	color: #aaeffe;
	font-weight: bold;
	text-align: center;
	height: 4rem;
	line-height: 4rem;
	width: 13rem;
	font-size: 1.5rem;
	cursor: pointer;
}
.menhutapclick{
	color: #FFFFFF;
}
/*中部主体样式*/
#maintop,#mainbot{
	margin-top: 0.7rem;
	width: 92rem;
	margin-left: 10.5rem;
	height: 22rem;
	
}
#erji{
	width: 100%;
	height: 4rem;
	line-height: 4rem;
	background-color: rgba(243,250,253,0.8);
	
}
#erji div{
	float: left;
}
.titleErji{
	width: 12rem;
	font-size: 1.5rem;
	color: #09969B;
	text-align: center;
	font-weight: bold;
	background-color: rgba(227,241,242,0.8);
	margin-right: 50rem;
}
.titleb1{
	width: 3rem;
	height: 3rem;
	background: url(../img/daiban.png) no-repeat;
	background-size: 3rem 3rem;
	margin-top: 1rem;
}
.titlebfont{
	color: #333;
	font-size: 1.3rem;
	height: 3rem;
	line-height: 3rem;
	margin-top: 1rem;
}
#maintopbody{
	width: 100%;
	height: 18rem;
	background-color: rgba(227,241,242,1);
}
/*环境监察二级*/
#erjitaps{
	float: left;
	width: 60rem;
	height: 100%;
}
.erjitap{
	padding-top: 1rem;
	height: 8rem;
	width: 12rem;
	float: left;
}
#line1{
	float: left;
	height: 90%;
	margin-top: 1rem;
	border: 1px solid #e5e5e5;
}
.tapsimg1{
	width:6rem;
	height: 5rem;
	margin-left: 3rem;
	background: url(../img/jianchasp.png) no-repeat 0.5rem 0rem;
	background-size:80rem 5rem ;
}
.tapsimg2{
	width:6rem;
	height: 5rem;
	margin-left: 3rem;
	background: url(../img/jianchasp.png) no-repeat -7.9rem 0rem;
	background-size:80rem 5rem ;
}
.tapsimg3{
	width:6rem;
	height: 5rem;
	margin-left: 3rem;
	background: url(../img/jianchasp.png) no-repeat -17.5rem 0rem;
	background-size:80rem 5rem ;
}
.tapsimg4{
	width:6rem;
	height: 5rem;
	margin-left: 3rem;
	background: url(../img/jianchasp.png) no-repeat -26.7rem 0rem;
	background-size:80rem 5rem ;
}
.tapsimg5{
	width:6rem;
	height: 5rem;
	margin-left: 3rem;
	background: url(../img/jianchasp.png) no-repeat -36.8rem 0rem;
	background-size:80rem 5rem ;
}
.tapsimg6{
	width:6rem;
	height: 5rem;
	margin-left: 3rem;
	background: url(../img/jianchasp.png) no-repeat -46.4rem 0rem;
	background-size:80rem 5rem ;
}
.tapsimg7{
	width:6rem;
	height: 5rem;
	margin-left: 3rem;
	background: url(../img/jianchasp.png) no-repeat -56.5rem 0rem;
	background-size:80rem 5rem ;
}
.tapsimg8{
	width:6rem;
	height: 5rem;
	margin-left: 3rem;
	background: url(../img/jianchasp.png) no-repeat -66rem 0rem;
	background-size:80rem 5rem ;
}
.tapsimg9{
	width:6rem;
	height: 5rem;
	margin-left: 3rem;
	background: url(../img/jianchasp.png) no-repeat -74.4rem 0rem;
	background-size:80rem 5rem ;
}

.tapsfont{
	width: 100%;
	height: 2rem;
	line-height: 2rem;
	font-size: 1.1rem;
	text-align: center;
}
/*待办事项*/
#daibanmain{
	float: left;
	margin-left: 2rem;
	margin-top: 1rem;
	width: 28rem;
}
.daimianlist{
	width: 100%;
	height: 2rem;
	line-height: 2rem;
}
.listimg{
	float: left;
	height: 2rem;
	width: 2rem;
	background: url(../img/listimg_2.png) no-repeat 0.8rem 0.5rem;
	background-size: 0.7rem 1rem;
}
.listfont{
	cursor: pointer;
	float: left;
	font-size: 1.1rem;
	color: #333333;
}
.daimianlist:hover .listimg{
	float: left;
	height: 2rem;
	width: 2rem;
	background: url(../img/listimg_1.png) no-repeat 0.8rem 0.5rem;
	background-size: 0.7rem 1rem;
}
.daimianlist:hover .listfont{
	color: #aa1111;
}
.daimianlistclick .listimg{
	float: left;
	height: 2rem;
	width: 2rem;
	background: url(../img/listimg_1.png) no-repeat 0.8rem 0.5rem;
	background-size: 0.7rem 1rem;
}
.daimianlistclick .listfont{
	color: #aa1111;
}
/*行政处罚标题框架*/
#mainbot{
	height: 34rem;
	background-color: rgba(227,241,242,1);
}
.mainbottitle{
	width: 100%;
	height: 4rem;
	line-height: 4rem;
}
.mainbottitle div{
	float: left;
}
.mainbottitle .titleb:first-child{
	margin-left: 2rem;
	margin-right: 52rem;
}
.titleb2{
	width: 3rem;
	height: 3rem;
	background: url(../img/xzcf.png) no-repeat;
	background-size: 3rem 3rem;
	margin-top: 1rem;
}
.titleb3{
	width: 3rem;
	height: 3rem;
	background: url(../img/hjzfsj.png) no-repeat;
	background-size: 3rem 3rem;
	margin-top: 1rem;
}
.line2{
	float: left;
	width: 57rem;
	margin-left: 2rem;
	border: 1px solid #e5e5e5;
}
.line3{
	float: left;
	width: 30rem;
	margin-left: 3rem;
	border: 1px solid #e5e5e5;
}
/*行政处罚*/
#chufachart{
	width: 60rem;
	height: 24rem;
}
#xingzhengselect{
	margin-top: 2rem;
	height: 2rem;
	width: 90%;
	padding-left: 8%;
}
.filter-box1 {
    position: relative;
    float: left;
}
.filter-box1 .filter-list{
	top: 1.6rem;
}
.filter-box2 {
    position: relative;
    float: left;
}
.filter-box2 .filter-list{
	top: 1.6rem;
}
.filter-box3 {
	float: left;
    position: relative;
}
.filter-box3 .filter-list{
	top: 1.6rem;
}
.filter-list li.filter-selected{
	background-color: #2FBDFF!important;
}
.item {
	width: 6rem;
	height: 2rem;
	margin-left: 1rem;
	float: left;
}
.item2 {
	width: 4.5rem;
	height: 2rem;
	float: left;
	margin-left: 1rem;
}
.item3 {
	margin-left: 1rem;
	width: 4.5rem;
	height: 2rem;
	float: left;
}
#jcsj{
	margin-left: 1rem;
	float: left;
}
#tjbutton{
	float: left;
	width: 4rem;
	margin-left: 1rem;
	height: 1.5rem;
	border-radius: 0.2rem;
	text-align: center;
	line-height: 1.5rem;
	background-color: #2fbdff;
	color: #F6F6F6;
}

#xzmain{
	float: left;
	width: 60rem;
	height: 23rem;
}
#hjmain{
	float: left;
	margin-left: 2rem;
	width: 28rem;
	height: 23rem;
}
#huaijingtable{
	width: 100%;
	height: 6rem;
	padding-top: 0.5rem;
}
.hjtbox{
	text-align: center;
	float: left;
	width: 23%;
	height: 2rem;
	line-height: 2rem;
	border: 1px solid #F6F6F6;
	background-color: royalblue;
}
.hjtboxb{
	color: #F6F6F6;
	text-align: center;
	float: left;
	width: 23%;
	height: 3rem;
	line-height: 3rem;
	font-size: 1.3rem;
	font-weight: bold;
	border: 1px solid #F6F6F6;
	background-color: royalblue;
}
.hjtboxb span{
	font-size: 1rem;
	font-weight: normal;
}
.hjtbox1{
	margin-left: 1rem;
	color:#42a2df;
	background-color: #99daed;
}
.hjtbox2{
	color:#3cbee4;
	background-color: #9cccea;
}
.hjtbox3{
	color:#e75955;
	background-color: #eea7a5;
}
.hjtbox4{
	color:#6cd5c4;
	background-color: #b1e5dd;
}
.hjtbox5{
	margin-left: 1rem;
	background-color: #42a2df;
}
.hjtbox6{
	background-color: #3cbee4;
}
.hjtbox7{
	background-color: #e75955;
}
.hjtbox8{
	background-color: #6cd5c4;
}
#huanjingchart{
	width: 27rem;
    height: 15rem;
}
#chart1{
	width: 24.7rem;
	height: 10rem;
	display: inline-block;
}
#chart1Nub{
	width: 24.7rem;
	height: 4rem;
	display: inline-block;
}
.chart1Nub1,.chart1Nub2,.chart1Nub3,.chart1Nub4,.chart1Nub5,.chart1Nub6{
	float: left;
	width: 12.3rem;
	margin-top: 0.3rem;
}
.chart1Nub1c{
	color: #47df92;
	height: 2rem;
	line-height: 2rem;
}
.chart1Nub2c{
	color: #44d8dd;
	height: 2rem;
	line-height: 2rem;
}
.chart1Nub3c{
	color: #5382e1;
	height: 2rem;
	line-height: 2rem;
}
.chart1Nub4c{
	color: #ec6f38;
	height: 2rem;
	line-height: 2rem;
}
.chart1Nub5c{
	color: #f0dd5d;
	height: 2rem;
	line-height: 2rem;
}
.chart1Nub6c{
	color: #a9e24e;
	height: 2rem;
	line-height: 2rem;
}
.chart1NubW{
	display: inline-block;
	width: 8rem;
	height: 2rem;
	line-height: 2rem;
	text-align: right;
	color:#666666;
}
/*底部样式*/
#footer{
	width: 114rem;
	height: 10rem;
	background-color: #1183A4;
}
#footermain{
	width: 60rem;
	margin-left: 26rem;
	height: 100%;
	overflow: hidden;
}
#wangzhi{
	margin-left: 10rem;
	margin-top: 1rem;
	height: 4rem;
	width: 100%;
}
.wangzhifont{
	float: left;
	color: #FFFFFF;
	font-size: 1.2rem;
	width: 10rem;
	height: 3rem;
	line-height: 3rem;
	text-align: center;
}
.wangzhiline{
	float: left;
	height: 1rem;
	margin-top: 1rem;
	border: 1px solid #4fa4bc;
}
.footerline{
	width: 50rem;
	clear: both;
	margin-top: 0.5rem;
	margin-bottom: 1.5rem;
	margin-left: 5rem;
	border: 1px solid #4fa4bc;
}
#footerbot{
	clear: both;
	color: #FFFFFF;
	font-size: 1.1rem;
	margin-left: 5.5rem;
}
